.Header {
    font-size: 32px;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: blue;
    cursor: pointer;
}

a[class="active"] {
    text-decoration: underline;
}